:root {
  --text-color: #fefef6;
  --text-color-hover: #fcf800;
  --background-color: #0f0e01;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Teko", cursive;
}

#app {
  height: 100dvh;
  width: 100vw;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 75px;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  padding: 1rem;
  justify-content: space-between;
  z-index: 3;
  background-image: linear-gradient(to bottom, var(--background-color), rgba(0, 0, 0, 0) 100%);
}

.logo {
  z-index: 1;
}

.logo .letter{
  opacity: 0;
}

.logo a {
  font-size: 40px;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.4s;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: clamp(20px, 2vw, 30px);
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.4s;
  position: relative;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}

nav a::before {
 content: '';
 position: absolute;
 width: 0%;
 transform: rotate(3deg);
 transform-origin: bottom left;
 bottom: 0;
 height: clamp(2px, 0.3vw, 4px);
 background-color: var( --text-color-hover);
  transition: width 0.4s;
}

nav a.router-link-active {
  color: var(--text-color-hover);
}

nav a.router-link-active::before {
  width: 100%;
  transition: width 0.4s;
}

nav a:nth-of-type(2n):before {
  transform: rotate(-3deg);
}

nav a:hover::before {
 width: 100%;
  transition: width 0.4s;
}

 nav a:hover{
  color: var( --text-color-hover);
  transition: color 0.6s;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.teko-regular {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo .letter,
.desktop-nav .letter,
.mobile-nav .letter {
  display: inline-block;
}

@media screen and (min-width:768px) {
  header {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
  }
}


